@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n1.otf");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n2.otf");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n2.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n4.otf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n5.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n6.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/n7.otf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i1.otf");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i2.otf");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i2.otf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i4.otf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i5.otf");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i6.otf");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: neighbor;
    src: url("/fonts/neighbor/i7.otf");
    font-style: italic;
    font-weight: 700;
}
